/* Custom Global Styles for Nexus V2 */

:root {
    --primary-glow: rgba(0, 255, 255, 0.4);
    --secondary-glow: rgba(255, 0, 255, 0.3);
}

body, .font-display{
    font-family: 'Space Grotesk', sans-serif !important;
}

.text-glow {
    text-shadow: 0 0 10px var(--primary-glow), 0 0 20px var(--primary-glow);
}

.glass {
    background: rgb(0, 0, 0);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.05);
}

.scanline {
    width: 100%;
    height: 100%;
    z-index: 10;
    background: linear-gradient( to bottom, rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.1) 50%);
    background-size: 100% 4px;
    position: absolute;
    pointer-events: none;
}

/* Custom Utilities */
.-right-10 {
    right: -0.5rem;
}

/* Animations */
@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0px); }
}

.animate-float {
    animation: float 4s ease-in-out infinite;
}